html, body, header, nav, h1, h2, h3, h4, h5, h6, a,
ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea, select,
span, article, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "sofia-pro", sans-serif;
  font-style: inherit;
  font-size: inherit;
  line-height: 1.8em;
  letter-spacing: 0.04em;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  color: inherit
}

body {
  color: #333;
  font-size: 13px;
}
